.site-title {
    font-family: $font__title;
    font-size: clamp(2rem, #{"-0.875rem + 8.333vw"}, 4rem);
    font-weight: bold;

    margin-bottom: 0;

    a {
        text-decoration: none;
    }

}

#primary {
    width: 100vw;
    //margin-left: 3rem;
    margin: 0;

}

.site-description {
    font-family: $font__title;
    font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 1.5rem);
    font-weight: normal;
    margin-top: 0;
}

body.home {

    height: 100vh;
    width: 100vw;

}

body.home::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    @include tablette {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 50% 100%);

    }

    z-index: -1;
}

/*Site-main appellé : list-cours */
//.site-main
.list-cours {
    display: flex;
    flex-direction: column;

    section {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%; // ajuster le width pour  mobile
            background-color: #E9C46A;

            /* ------------------------------------------------------------- media query */
            @include tablette {
                justify-content: space-between;
                width: 30%; // ajuster le width pour desktop

            }

            border: 1px solid black;


            p {
                font-size: .7rem;
                font-weight: bold;


            }

            a {
                font-size: 1.5rem;
                font-weight: bold;
                text-decoration: none;
            }
        }

       
        //fin article

    }

    


}