.carrousel-2 {
    display: flex;
    width: 300vw;
    height: 30vh;
    transition: transform .5s;
    justify-content: center;

    .slide__conteneur {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;


        .slide {

            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            color: rgb(26, 33, 41);

            &:nth-of-type(1) {
                background-color: #2a9d8f;
            }

            &:nth-of-type(2) {
                background-color: #f4a261;
            }

            &:nth-of-type(3) {
                background-color: #ae73a6;
            }

            img {
                display: block;
                margin: 2%;
            }

            .slide__info {
                display: flex;
                flex-direction: column;
                justify-content: center;

                width: 100%;

                //margin: 2%;
                margin-left: 0;
                padding-right: 12%;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: clamp(1.5rem, #{"-0.875rem + 8.333vw"}, 2rem);
                    text-decoration: none;
                }

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: clamp(.8rem, #{"-0.875rem + 8.333vw"}, 1.2rem);
                }
            }
        }
    }


    /* Fin article slide */
}

/* Fin section carou */

.ctrl-caroussel-2{
    display: flex;
    justify-content: center;
        align-items: center;
        width: 100vw; // largeur fixe de 100vw pour occuper 100% de la page accueil sans deborder dans les 300vw 
        background-color: #557a95;
    input{
        margin: 2rem;

    }
}